<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="my tests">

 
    
    <test name="test1">
        <classes>
            <class name="tests.SetUpTest" />
            <class name="tests.ProxyTest" />
        </classes>
    </test>

</suite>
